* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: white;
}

header {
  height: 75px;
  background-color: black;
}

main {
  background-color: black;
  height: calc(100vh - 150px);
  overflow: auto;
  position: relative;
}

footer {
  height: 75px;
  background-color: rgb(34, 34, 34);
  overflow: auto;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.space-btw {
  justify-content: space-between;
}

.just-c {
  justify-content: center;
}

.align-c {
  align-items: center;
}

.container {
  margin:0 auto;
  margin-bottom: 0;
  width: 90%;
}

.card {
  min-width: 245px;
  width: calc(100% / 7);
  height: 140px;
  margin-bottom: 15px;
  padding-right: 10px;
}

.partecipant {
  width: 235px;
  height: 100%;
  background-color: green;
  position: relative;
}

.partecipant img{
  width: 100%;
}

.mic-name {
  height: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.295);
  padding: 2px 5px;
}

.name {
  font-size: 13px;
  font-weight: 600;
}

footer i {
  font-size: 25px;
}

footer > div {
  height: 100%;
}

footer > div > div {
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  padding: 0 5px;
  padding-top: 5px;
}

footer > div > div span {
  display: block;
  width: 90%;
  font-size: 13px;
  font-weight: 600;
  position: relative;
  bottom: 5px;
}

.end {
  height: 100%;
  padding: 0 20px;
  color: red;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.151);
  font-size: 13px;
}

.end:hover {
  background-color: rgba(255, 0, 0, 0.363);
}

.end:active {
  background-color: rgba(255, 0, 0, 0.6);
  color: white;
}

.fa-chevron-up {
  position: absolute;
  right: 5px;
  font-size: 10px;
}

.menu-button, .end {
  cursor: pointer;
}

.menu-button:active i:first-of-type:not(end) {
  color: rgb(74, 195, 0);
}

.menu-button:hover{
  background-color: rgba(255, 255, 255, 0.151);
  border-radius: 10px;
}

.screen-control {
  position: absolute;
  top: 5px;
  right: 0;
  font-size: 13px;
}

.view, .screen-control > i {
  padding: 5px;
  margin-right: 5px;
  background-color: rgb(74, 74, 74);
  border-radius: 5px;
  cursor: pointer;
}

.screen-control > i {
  padding-top: 7px;
}

.view:active, .screen-control > i:active {
  color: rgb(199, 199, 199);
}

.view:hover, .screen-control > i:hover {
  background-color: rgb(129, 129, 129);
}

.mic-webcam, .meeting-control, .end {
  min-width:fit-content;
}

.meeting-control {
  min-width: 860px;
}

.mic, .webcam {
  min-width: 90px;
}

.menu-button.share-s {
  width: 125px;
}